@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<h4>Delegación a</h4>
<address>
        Dirección 1
</address>

<h4>Delegación 2</h4>
<address>
   Dirección 2
</address>

<address>
    <strong>Desarrollo:</strong>   <a href="mailto:jorge.belenguer@xxx.es">Jorge Belenguer Gómez</a><br />
</address>