<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SMATEC.WSRecopiladorDatos.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings/>
  <!--
    Para obtener una descripción de los cambios de web.config, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.6" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.6"/>
    <httpRuntime/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.serviceModel>
    <services>
      <service name="SMATEC.WSRecopiladorDatos.RecopiladorDatos" behaviorConfiguration="RecopiladorDatosBehavior">
        <!--Service Endpoints-->
        <endpoint address="rest"
                  behaviorConfiguration="RESTEndpointBehavior"
                  binding="webHttpBinding"
                  contract="SMATEC.WSRecopiladorDatos.IRecopiladorDatosRest" />
        <endpoint address="teselar"
                  behaviorConfiguration="TESELAREndpointBehavior"
                  binding="webHttpBinding"
                  contract="SMATEC.WSRecopiladorDatos.IRecopiladorDatosTeselador" />
        <endpoint address=""
                  behaviorConfiguration="SOAPEndpointBehavior"
                  binding="basicHttpBinding"
                  contract="SMATEC.WSRecopiladorDatos.IRecopiladorDatos">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="SOAPEndpointBehavior">
        </behavior>
        <behavior name="TESELAREndpointBehavior">
          <webHttp />
        </behavior>
        <behavior name="RESTEndpointBehavior">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="RecopiladorDatosBehavior">
          <!-- Para evitar revelar información de los metadatos, establezca los valores siguientes en false antes de la implementación -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- Para recibir detalles de las excepciones en los fallos, con el fin de poder realizar la depuración, establezca el valor siguiente en true. Para no revelar información sobre las excepciones, establézcalo en false antes de la implementación -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https"/>
    </protocolMapping>
    <!--Compatibilidad con ASP-->
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        Para examinar el directorio raíz de la aplicación web durante la depuración, establezca el valor siguiente en true.
        Establézcalo en false antes de la implementación para evitar revelar información sobre la carpeta de aplicación web.
      -->
    <directoryBrowse enabled="false"/>
  </system.webServer>
  <applicationSettings>
    <SMATEC.WSRecopiladorDatos.Properties.Settings>
      <setting name="BBDDServ" serializeAs="String">
        <value>10.48.1.245</value>
      </setting>
      <setting name="LogSource" serializeAs="String">
        <value>WSRecopiladorDatos</value>
      </setting>
      <setting name="BBDDSchema" serializeAs="String">
        <value>smatec</value>
      </setting>
      <setting name="BBDDUser" serializeAs="String">
        <value>usrsmatec</value>
      </setting>
      <setting name="BBDDPass" serializeAs="String">
        <value>5m@t3c2016</value>
      </setting>
      <setting name="BBDDFile" serializeAs="String">
        <value />
      </setting>
      <setting name="LogType" serializeAs="String">
        <value>Application</value>
      </setting>
    </SMATEC.WSRecopiladorDatos.Properties.Settings>
  </applicationSettings>
</configuration>